@import url(https://fonts.googleapis.com/css?family=VT323);
body {
    /* font-family: 'VT323', monospace; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 2;
}
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* selected link */
a:active {
    color: black;
}


@media only screen and (min-width: 567px) {
    body {
        font-size: 1em;
    }
    .content {
        margin: auto;
        width:80%;
        min-width: 567px;
        padding-top: 46px;
    }

    .nav-container {
        top: 0;
        right: 0;
        left: 0;
        z-index: 9;
        position: fixed;
        width: calc(100% - 2px);
        border-color: lightgray;
        background-color: rgba(255,255,255,.9);
    }
    .nav {
        z-index: 9;
        border-radius:4px;
        border-width: 1px;
        border-style: solid;
        border-color: lightgray;
        display: flex;
        justify-content: center;
    }
    .nav-item {
        font-size: 2em;
        font-weight: bold;
        width:20%
    }

    .title {
        font-size: 2.5em;
        width: 100%;
    }

    .skill {
        margin: 16px;
    }
    .page {
        color: white;
        background-color: darkgray;
        border-radius:72px;
        margin: 18px;
        padding: 18px;
    }

    #about-text {
        position: relative;
        top: 50%;
        
    }

    #skills-text {
        position: relative;
        top: 50%;
        
    }

    #about {
        background-color: white;
        color:black;
        margin-top: 32px;
    } 

    #work {
        background-color: white;
        color:black;
    }


    ul {
        list-style-type: none;
        text-align: center;
    }

    #contact {
        min-height: auto;
        height: auto;
    }

    .work-item {

        font-size: 1.25em;
        margin: 8px;
        border-radius: 48px;
        border-style: solid;
        border-color: white;
        background-color: rgba(0,0,0,.05);
        border-width: 1px;
        padding: 8px;
        width: calc(50% - 72px);
    }
    .work-item-image {
        margin: auto;
        /* border-radius:48px; */
        max-height: 320px;
        border-style: solid;
        border-color: white;
        border-width: 1px;
    }
    .contact-icon {
        width: 36px;
        height: 36px;
    }
    .github-icon {
        height: 36px;
        width: auto;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }
    .work-item-link {
        height: 36px;
        width: 88px;
        margin: auto;
        background-color: blue;
        color: white;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        font-size: .85em;
    }

    #skills {
        color: white;
        background-color: darkgray;
    }
    #contact {
        color: white;
        background-color: darkgray;
    }
    .row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    /* .button-row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        bottom: 0;
    } */
}
@media only screen and (max-width: 567px) {

    /* .button-row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    } */
    .title {
        font-size: 2.5em;
        width:100%;
    }

    .nav {
        border-radius:4px;
        position: fixed;
        height: 32px;
        width: 32px;
        top: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: lightgray;
        background-color: rgba(255,255,255,.9);
    }
    .nav-item {
        display: hidden;
        padding-top: 6px;
        height: 64px;
        font-size: 2em;
        font-weight: bold;
    }
    .skill {
        margin: auto;
    }
    .page {
        color: white;
        background-color: darkgray;
        border-radius:16px;
        margin: 16px;
        padding: 16px;
        /* border-width: 1px;
        border-style: solid;
        border-color: lightgray; */
    }

    #about {
        background-color:white;
        color: black;
    }

    #work {
        background-color:white;
        color: black;
    }

    ul {
        list-style-type: none;
        text-align: left;
    }

    .work-item {
        padding: 8px;
        margin: 8px;
        font-size: 1.3em;
        border-radius:16px;
        border-style: solid;
        border-color: white;
        background-color:rgba(0,0,0,.05);
        border-width: 1px;
    }
    .work-item-image {
        border-radius: 16px;
        width: calc(100% - 1px);
        height: auto;
        border-style: solid;
        border-color: white;
        border-width: 1px;
    }
    .contact-icon {
        width: 36px;
        height: 36px;
    }
    .github-icon {
        height: 36px;
        width: auto;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
    }
    .work-item-link {
        height: 36px;
        width: 88px;
        margin: auto;
        background-color: blue;
        color: white;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
    }

    #skills {
        color: white;
        background-color: darkgray;
    }

    #contact {
        color: white;
        background-color: darkgray;
    }

    .button-row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.nav {
    font-size: .6em;
}

#hardware {
    display: none;
}

.work-item-link {
    margin: auto;
}

.work-item-github {
    margin: auto;
    margin-top: 16px;
}

.mtitle {
    font-size: 2.5em;
}